<div class="container">
    <div class="order-confirmation">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header alert alert-danger">
                        <h4>Coś poszło nie tak :( </h4>
                    </div>
                    <div class="card-body">
                        <h4>Wystąpił nieoczekiwany błąd podczas przetwarzania twojej płatności.</h4>
                        <p>Napisz do nas:</p>
                        <p><strong>kontakt&#64;miododstaniula.pl</strong></p>
                        <p>lub zadzwoń:</p>
                        <p><strong>+48 570 436 579</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-">
                        <img src="../../../assets/images/logo.jpeg" alt="Logo" class="img-fluid">
                        <div class="text-center">
                            <p>W razie problemów skontaktuj się z nami:</p>
                            <p class="fw-bold">+48 570 436 579</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>