<div class="container shadow-lg rounded-3 py-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-5">Dziękujemy za założenie konta w naszym sklepie internetowym!</h1>
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../assets/images/logo.jpeg" alt="logo" class="w-100 p-2">
                </div>
                <div class="col-md-7">
                    <h2 class="my-4">Następne kroki do wykonania:</h2>
                    <ol class="list-unstyled">
                        <li>
                            <h3 class="mb-2"><span class="me-2">1.</span>Zaloguj się na swoje konto pocztowe.</h3>
                        </li>
                        <li>
                            <h3 class="mb-2"><span class="me-2">2.</span>Otwórz wiadomość jaką otrzymałeś od nas.</h3>
                        </li>
                        <li>
                            <h3 class="mb-2"><span class="me-2">3.</span>Kliknij na link aktywacyjny.</h3>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>