<div class="container">
    <h2 class="mb-4">Cześć {{ customerFirstName }}</h2>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="list-group mb-5">
                <button *ngIf="authService.isClient()" mat-stroked-button class="list-group-item list-group-item-action"
                    [class.active-section]="activeSection === 'orderHistory'"
                    (click)="setActiveSection('orderHistory')">Historia
                    Zamówień
                </button>
                <button mat-stroked-button class="list-group-item list-group-item-action"
                    [class.active-section]="activeSection === 'accountInfo'"
                    (click)="setActiveSection('accountInfo')">Informacje o Koncie
                </button>
                <button mat-stroked-button class="list-group-item list-group-item-action"
                    [class.active-section]="activeSection === 'addresses'" (click)="setActiveSection('addresses')">Adres
                    do wysyłki
                </button>
                <button mat-stroked-button class="list-group-item list-group-item-action"
                    [class.active-section]="activeSection === 'changePassword'"
                    (click)="setActiveSection('changePassword')">Zmiana
                    Hasła
                </button>
            </div>
        </div>

        <div class="col-md-9">
            <div *ngIf="activeSection === 'accountInfo'" class="card">
                <div class="card-header">
                    Informacje o Koncie
                </div>
                <div class="card-body">
                    <form [formGroup]="customerDataForm" (ngSubmit)="updateCustomerData()">

                        <mat-form-field appearance="fill">
                            <mat-label>Imię</mat-label>
                            <input matInput type="name" formControlName="name">
                            <mat-error *ngIf="customerDataForm.controls['name'].hasError('required')">Imię jest
                                wymagane</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['name'].hasError('minlength')">Imię jest za
                                krótkie</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['name'].hasError('maxlength')">Imię może
                                zawierać
                                maksymalnie 50
                                znaków</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['name'].hasError('lettersOnly')">Imię może
                                zawierać
                                tylko
                                litery</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Nazwisko</mat-label>
                            <input matInput type="surname" formControlName="surname">
                            <mat-error *ngIf="customerDataForm.controls['surname'].hasError('required')">Nazwisko jest
                                wymagane</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['surname'].hasError('minlength')">Nazwisko jest
                                za
                                krótkie</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['surname'].hasError('maxlength')">Nazwisko może
                                zawierać
                                maksymalnie
                                50 znaków</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['surname'].hasError('lettersOnly')">Nazwisko
                                może
                                zawierać tylko
                                litery</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="customerDataForm.get('email')?.errors?.['required']">
                                Email jest wymagany.
                            </mat-error>
                            <mat-error *ngIf="customerDataForm.get('email')?.errors?.['email']">
                                Proszę wprowadzić poprawny adres email.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Numer telefonu</mat-label>
                            <input matInput type="tel" formControlName="phoneNumber">
                            <mat-error *ngIf="customerDataForm.controls['phoneNumber'].hasError('required')">Numer
                                telefonu jest
                                wymagany</mat-error>
                            <mat-error
                                *ngIf="customerDataForm.controls['phoneNumber'].hasError('pattern')">Nieprawidłowy
                                format
                                numeru
                                telefonu</mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
                    </form>

                </div>
            </div>

            <div *ngIf="activeSection === 'addresses'" class="card">
                <div class="card-header">
                    Adres do wysyłki
                </div>
                <div class="card-body">
                    <form [formGroup]="customerDataForm" (ngSubmit)="updateCustomerData()">
                        <mat-form-field appearance="fill">
                            <mat-label>Miasto</mat-label>
                            <input matInput type="city" formControlName="city">
                            <mat-error *ngIf="customerDataForm.controls['city'].hasError('required')">Miasto jest
                                wymagane</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['city'].hasError('minlength')">Nazwa miasta jest
                                za
                                krótka</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['city'].hasError('maxlength')">Nazwa miasta może
                                zawierać
                                maksymalnie 50
                                znaków</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['city'].hasError('lettersOnly')">Nazwa miasta
                                może
                                zawierać tylko
                                litery</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Kod pocztowy</mat-label>
                            <input matInput type="text" formControlName="postalCode">
                            <mat-error *ngIf="customerDataForm.controls['postalCode'].hasError('required')">Kod pocztowy
                                jest
                                wymagany</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['postalCode'].hasError('pattern')">Nieprawidłowy
                                format
                                kodu
                                pocztowego</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Ulica</mat-label>
                            <input matInput type="street" formControlName="street">
                            <mat-error *ngIf="customerDataForm.controls['street'].hasError('required')">Ulica jest
                                wymagana</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['street'].hasError('maxlength')">Ulica może
                                zawierać
                                maksymalnie 50
                                znaków</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Adres (nr domu/mieszkania)</mat-label>
                            <input matInput type="text" formControlName="address">
                            <mat-error *ngIf="customerDataForm.controls['address'].hasError('required')">Numer
                                domu/mieszkania
                                jest
                                wymagany</mat-error>
                            <mat-error *ngIf="customerDataForm.controls['address'].hasError('maxLength')">Zbyt długi
                                adres</mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
                    </form>
                </div>
            </div>

            <div *ngIf="activeSection === 'changePassword'" class="card mb-5">
                <div class="card-header">
                    Zmiana Hasła
                </div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>Stare Hasło</mat-label>
                            <input matInput formControlName="oldPassword" type="password">
                            <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">Wprowadź
                                aktualne hasło</mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('minlength')">Hasło
                                jest za krótkie</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>Nowe Hasło</mat-label>
                            <input matInput formControlName="newPassword" type="password">
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">Wprowadź
                                nowe hasło</mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">Nowe
                                hasło musi zawierać co najmniej 6 znaków</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-100 mb-3">
                            <mat-label>Powtórz Nowe Hasło</mat-label>
                            <input matInput formControlName="confirmNewPassword" type="password">
                            <mat-error
                                *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required')">Potwierdź
                                nowe hasło</mat-error>
                            <mat-error
                                *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('minlength')">Nowe
                                hasło musi zawierać co najmniej 6 znaków</mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">Zmień Hasło</button>
                    </form>
                </div>
            </div>


            <div *ngIf="activeSection === 'orderHistory'" class="card">
                <div class="card-header">
                    Historia Zamówień
                </div>
                <div class="card-body mb-5">
                    <div *ngIf="isLoading" class="spinner-container">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="!isLoading">
                        <div *ngIf="orders.length > 0; else noOrders">
                            <table class="table table-hover table-responsive">
                                <thead class="table-light">
                                    <tr>
                                        <th>Numer Zamówienia</th>
                                        <th>Data</th>
                                        <th>Odbiór osobisty</th>
                                        <th>Wartość</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders" (click)="viewOrderDetails(order.orderId)"
                                        [class.table-warning]="order.status === 'Oczekuje na płatność'"
                                        [class.table-success]="order.status === 'Opłacone'"
                                        [class.table-light]="order.status === 'W trakcie realizacji'"
                                        [class.table-info]="order.status === 'Wysłane'"
                                        [class.table-secondary]="order.status === 'Zrealizowane'"
                                        [class.table-danger]="order.status === 'Anulowane'" style="cursor: pointer;">
                                        <td>{{ order.shortOrderId }}</td>
                                        <td>{{ order.orderDate | date:'medium' }}</td>
                                        <td>
                                            <span *ngIf="order.isPickupInStore; else no">{{ 'Tak' }}</span>
                                            <ng-template #no>{{ 'Nie' }}</ng-template>
                                        </td>
                                        <td>{{ order.totalPrice | currency:'PLN' }}</td>
                                        <td>
                                            <i *ngIf="order.status === 'Oczekuje na płatność'" class="bi bi-clock-fill text-primary"></i>
                                            <i *ngIf="order.status === 'Opłacone'" class="bi bi-cash-stack text-success"></i>
                                            <i *ngIf="order.status === 'W trakcie realizacji'" class="bi bi-hammer text-warning"></i>
                                            <i *ngIf="order.status === 'Wysłane'" class="bi bi-truck text-info"></i>
                                            <i *ngIf="order.status === 'Zrealizowane'" class="bi bi-check-circle-fill text-success"></i>
                                            <i *ngIf="order.status === 'Anulowane'" class="bi bi-x-circle-fill text-danger"></i>
                                            {{ order.status }}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #noOrders>
                            <div class="alert alert-warning" role="alert">
                                <h4 class="alert-heading">Nie masz jeszcze żadnych zamówień!</h4>
                                <p>Wygląda na to, że nie złożyłeś jeszcze żadnego zamówienia w naszym sklepie. Odkryj
                                    naszą
                                    ofertę i
                                    zrób zakupy
                                    już dziś!</p>
                                <hr>
                                <p class="mb-0">Przejdź do <a href="/products" class="alert-link">strony produktów</a> i
                                    znajdź coś
                                    dla siebie.</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="card-footer">
                    <button mat-raised-button routerLink="/products">Złóż nowe zamówienie</button>
                </div>
            </div>


        </div>

    </div>
</div>