
<div *ngIf="product && product.productId" class="product-details">
    <div class="row my-5">
        <div class="col-sm-7">
            <div id="carouselForProduct{{product.productId}}" class="carousel carousel-details slide carousel-fade"
                data-bs-ride="carousel">
                <div *ngIf="product.productImages" class="carousel-indicators">
                    <button *ngFor="let image of product.productImages; let i = index" type="button"
                        [attr.data-bs-target]="'#carouselForProduct' + product.productId" [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0">
                    </button>
                </div>
                <div class="carousel-inner rounded-3 shadow-lg">
                    <div *ngFor="let image of product.productImages; let i = index" class="carousel-item"
                        [class.active]="i === 0" data-bs-interval="4000">
                        <img *ngIf="product.productImages?.[0]"
                            [src]="'https://localhost:5047/' + product.productImages?.[0]?.imagePath"
                            class="d-block w-100" alt="{{ product.name }}" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    [attr.data-bs-target]="'#carouselForProduct' + product.productId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    [attr.data-bs-target]="'#carouselForProduct' + product.productId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-sm-5 p-4 text-center">
            <div>
                <h1>{{ product.name }}</h1>
                <h2> {{ product.category }} </h2>
            </div>
            <br />

            <div class="text-center">
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto"> {{ product.price }} zł</h3>
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto"> {{ product.weight }} g</h3>
            </div>
            <br />
            <div class="availability">
                <ng-container *ngIf="product?.amountAvailable === 0">
                    <div class="row outOfOrder">
                        <div class="col-9">
                            <h6>Sprzedany</h6>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/outOfOrder.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="product.amountAvailable > 0 && product.amountAvailable < 10">
                    <div class="row smallAmount">
                        <div class="col-9">
                            <h6>Ograniczona ilość</h6>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/smallAmount.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="product.amountAvailable >= 10">
                    <div class="row available">
                        <div class="col-9">
                            <h6>Produkt dostępny!</h6>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/available.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>
            </div>
            <br />
            <hr />
            <div>
                <button type="submit" class="btn btn-dark btn-lg mb-3 addToCartButton w-100">
                    <i class="bi bi-cart-plus"></i> Dodaj do koszyka
                </button>
                <div>
                    <p>Lub zadzwoń i zamów pod nr tel:</p>
                    <h3>+48 570 436 579</h3>
                </div>
                <a href="" class="btn btn-lg btn-danger mt-4 w-100"><i class="bi bi-pen"></i> EDYTUJ</a>
            </div>
        </div>
    </div>
    <div *ngIf="product" class="my-4 py-3 text-start" [innerHTML]="product.description">
    </div>
</div>