<div class="container">
    <h1 class="text-center mb-4">Polityka prywatności</h1>

    <div class="accordion" id="privacyPolicyAccordion">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAdmin">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdmin"
                    aria-expanded="true" aria-controls="collapseAdmin">
                    1. Administrator danych osobowych
                </button>
            </h2>
            <div id="collapseAdmin" class="accordion-collapse collapse show" aria-labelledby="headingAdmin"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Administratorem danych osobowych Klientów sklepu internetowego jest Piotr Staniul z siedzibą w
                        46-200 Kluczbork, ul. Bora Komorowskiego 21. Wszelkie sprawy związane z przetwarzaniem danych
                        osobowych można zgłaszać pod adres e-mailowy: <a
                            href="mailto:kontakt@miododstaniula.pl">kontakt&#64;miododstaniula.pl</a>.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingGoals">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseGoals" aria-expanded="false" aria-controls="collapseGoals">
                    2. Cele przetwarzania danych osobowych
                </button>
            </h2>
            <div id="collapseGoals" class="accordion-collapse collapse" aria-labelledby="headingGoals"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Dane osobowe Klientów są przetwarzane w celu realizacji zamówień, obsługi klienta, marketingu
                        bezpośredniego (jeśli Klient wyraził na to zgodę), zapewnienia bezpieczeństwa transakcji oraz w celach
                        statystycznych.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTypes">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTypes" aria-expanded="false" aria-controls="collapseTypes">
                    3. Rodzaje danych osobowych
                </button>
            </h2>
            <div id="collapseTypes" class="accordion-collapse collapse" aria-labelledby="headingTypes"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Podczas korzystania ze sklepu internetowego możemy zbierać następujące dane osobowe: Imię i nazwisko,
                        Adres e-mailowy, Numer telefonu, Adres dostawy, Dane dotyczące transakcji (np. numer karty płatniczej w
                        przypadku płatności online).</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSharing">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSharing" aria-expanded="false" aria-controls="collapseSharing">
                    4. Przekazywanie danych osobowych
                </button>
            </h2>
            <div id="collapseSharing" class="accordion-collapse collapse" aria-labelledby="headingSharing"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Dane osobowe Klientów mogą być przekazywane wyłącznie podmiotom upoważnionym do ich przetwarzania w celu
                        realizacji zamówienia, takim jak dostawcy usług płatniczych czy firmy kurierskie.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRights">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseRights" aria-expanded="false" aria-controls="collapseRights">
                    5. Prawa Klientów
                </button>
            </h2>
            <div id="collapseRights" class="accordion-collapse collapse" aria-labelledby="headingRights"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Klienci posiadają prawo dostępu do swoich danych osobowych, ich poprawiania, usunięcia, ograniczenia
                        przetwarzania oraz przenoszenia. W celu skorzystania z tych praw prosimy o kontakt pod adresem
                        e-mailowym: kontakt&#64;miododstaniula.pl.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingConsent">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseConsent" aria-expanded="false" aria-controls="collapseConsent">
                    6. Zgoda na przetwarzanie danych osobowych
                </button>
            </h2>
            <div id="collapseConsent" class="accordion-collapse collapse" aria-labelledby="headingConsent"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Korzystanie ze sklepu internetowego oraz składanie zamówień wymaga wyrażenia zgody na przetwarzanie
                        danych osobowych zgodnie z niniejszą Polityką Prywatności. Klient może w dowolnym momencie wycofać
                        udzieloną zgodę kontaktując się z Administratorem danych pod adresem e-mailowym:
                        kontakt&#64;miododstaniula.pl.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSecurity">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSecurity" aria-expanded="false" aria-controls="collapseSecurity">
                    7. Bezpieczeństwo danych osobowych
                </button>
            </h2>
            <div id="collapseSecurity" class="accordion-collapse collapse" aria-labelledby="headingSecurity"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Dbamy o bezpieczeństwo danych osobowych naszych Klientów i stosujemy odpowiednie środki techniczne i
                        organizacyjne aby zapobiec im dostępowi osób nieupoważnionych lub ich nielegalnemu przetwarzaniu.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCookies">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCookies" aria-expanded="false" aria-controls="collapseCookies">
                    8. Cookies
                </button>
            </h2>
            <div id="collapseCookies" class="accordion-collapse collapse" aria-labelledby="headingCookies"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Nasz sklep internetowy może korzystać z plików cookies w celu zbierania informacji na temat sposobu
                        korzystania przez Klientów z naszej strony internetowej.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPolicyChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePolicyChanges" aria-expanded="false" aria-controls="collapsePolicyChanges">
                    9. Zmiany w Polityce Prywatności
                </button>
            </h2>
            <div id="collapsePolicyChanges" class="accordion-collapse collapse" aria-labelledby="headingPolicyChanges"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>Zastrzegamy sobie prawo do zmiany niniejszej Polityki Prywatności w dowolnym momencie. Aktualna wersja
                        Polityki Prywatności zawsze będzie dostępna na naszej stronie internetowej.</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingContact">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
                    10. Kontakt
                </button>
            </h2>
            <div id="collapseContact" class="accordion-collapse collapse" aria-labelledby="headingContact"
                data-bs-parent="#privacyPolicyAccordion">
                <div class="accordion-body">
                    <p>W sprawach związanych z przetwarzaniem danych osobowych prosimy o kontakt pod adresem e-mailowym
                        kontakt&#64;miododstaniula.pl lub korespondencyjnie na adres: 46-200 Kluczbork, ul. Bora Komorowskiego 21.
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>