.container{
    max-width: 1000px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

mat-form-field, .form-outline{
    margin: 0.3rem;
    width: 100%;
}