<div class="container" *ngIf="productForm">
    <h1 class="text-center">Edytuj produkt</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Kategoria</mat-label>
                            <mat-select formControlName="categoryId">
                                <mat-option value="1">Miód naturalny</mat-option>
                                <mat-option value="2">Miód samakowy</mat-option>
                                <mat-option value="3">Zestaw miodów</mat-option>
                                <mat-option value="4">Produkt pszczeli</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Nazwa produktu</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Cena</mat-label>
                            <input matInput formControlName="price">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Waga</mat-label>
                            <input matInput formControlName="weight">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Dostępna ilość</mat-label>
                            <input matInput formControlName="amountAvailable">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Kolejność wyświetlania</mat-label>
                            <input matInput formControlName="priority">
                        </mat-form-field>

                        <div class="form-outline">
                            <input type="file" id="file" class="form-control" multiple
                                (change)="onFilesSelected($event)" />
                            <label class="form-label" for="file">Zdjęcia produktu</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Opis produktu</mat-label>
                            <textarea matInput formControlName="description" rows="22"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-lg-end">
                    <button mat-raised-button color="warn" type="submit" class="mt-3">
                        <i class="bi bi-pencil"></i> ZAPISZ ZMIANY
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Zdjęcia produktu:</h3>
            <div *ngFor="let image of product.productImages">
                <div class="row mb-2">
                    <div class="col">
                        <img *ngIf="image" [src]="apiBaseUrl + image.imagePath"
                            class="d-block w-100 px-3 rounded-3" alt="{{ product.name }}" />
                    </div>
                    <div class="col">
                        <button (click)="deleteImage(image.imageId)" class="btn btn-danger"><i
                                class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>