<div class="container">
    <h1 class="text-center mb-4">Regulamin Sklepu Internetowego Miód od Staniula</h1>
    <div class="accordion" id="regulaminAccordion">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    §1 Postanowienia Ogólne
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Witaj w naszym Sklepie Internetowym! Cieszymy się, że do nas trafiłeś. Prowadzimy nasz sklep z wielką
                        pasją, a Piotr Staniul dba o to, by każdy słoik miodu był pełen miłości do pszczół i natury. Aby
                        wszystko przebiegało gładko i przyjemnie, mamy kilka zasad, które warto poznać:</p>
                    <ul>
                        <li><strong>Zasady zakupów:</strong> Tutaj znajdziesz informacje o tym, jak łatwo i bezpiecznie dokonać
                            zakupów. Chcemy, aby każda transakcja była dla Ciebie jasna i zrozumiała.</li>
                        <li><strong>Akceptacja regulaminu:</strong> Korzystając z naszego sklepu, zgadzasz się na te zasady. To
                            dla nas ważne, abyś czuł się tu bezpiecznie i komfortowo, dlatego zawsze jesteśmy do Twojej
                            dyspozycji, by rozwiać wszelkie wątpliwości.</li>
                    </ul>
                    <p>Mamy nadzieję, że zakupy u nas będą dla Ciebie przyjemnością i znajdziesz tu wszystko, czego
                        potrzebujesz. Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy, nie wahaj się skontaktować. Razem
                        sprawimy, że świat będzie słodszy!</p>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    §2 Definicje
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Aby wszystko było jasne od samego początku, oto kilka definicji, które pomogą Ci
                        lepiej zrozumieć, jak działamy:</p>
                    <ul>
                        <li><strong>Sklep internetowy</strong> - to miejsce, które z dumą prowadzi Piotr Staniul. Pod adresem
                            www.miododstaniula.pl oferujemy Ci wyjątkowe produkty pszczele, prosto z naszej pasieki. Wszystko,
                            co tu znajdziesz, jest wynikiem naszej pasji i pracy.</li>
                        <li><strong>Klient</strong> - to Ty! Czyli osoba, która decyduje się na zakup naszych produktów. Chcemy,
                            abyś czuł się tutaj jak u siebie i zawsze był zadowolony z dokonanych zakupów.</li>
                        <li><strong>Produkt</strong> - każdy słoik miodu i inne cuda, które znajdziesz w naszym sklepie, to
                            nasze produkty. Są one pełne smaku i aromatu, którym chcemy się z Tobą podzielić.</li>
                        <li><strong>Pasieka</strong> - to serce naszej działalności. Miejsce, gdzie powstaje miód, który trafia
                            do Twojego domu. Zawsze możesz liczyć na to, że jest to produkt najwyższej jakości.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    §3 Zamówienia
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Składanie zamówień w naszym sklepie to czysta przyjemność! Oto jak możesz to zrobić:</p>
                    <ul>
                        <li><strong>Przez stronę internetową:</strong> Odwiedź naszą stronę www.miododstaniula.pl i wybierz
                            swoje ulubione produkty. Nasz proces składania zamówienia jest szybki i intuicyjny.</li>
                        <li><strong>E-mailowo:</strong> Możesz również napisać do nas na kontakt&#64;miododstaniula.pl. Chętnie
                            odpowiemy na wszystkie Twoje pytania i pomożemy w złożeniu zamówienia.</li>
                        <li><strong>Telefonicznie:</strong> Wolisz rozmawiać? Świetnie! Zadzwoń do nas pod numer 570 436 579.
                            Nasz zespół z radością pomoże Ci wybrać najlepszy miód.</li>
                    </ul>
                    <p>Po złożeniu zamówienia niezwłocznie przygotujemy dla Ciebie potwierdzenie i wszystkie niezbędne
                        informacje dotyczące płatności oraz dostawy. Chcemy, aby każdy etap zakupów był dla Ciebie jasny i
                        przyjemny.</p>
                    <p>Pamiętaj, składając zamówienie, akceptujesz nasze warunki cenowe oraz dostawy. Ale bez obaw – staramy
                        się, aby były one jak najbardziej korzystne dla Ciebie.</p>
                    <p>Jesteśmy tutaj dla Ciebie na każdym kroku – od wyboru produktu po dostawę. Dziękujemy, że jesteś z nami!
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    §4 Dostawa
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Kochani Klienci! Chcemy, aby nasz miód bezpiecznie dotarł do Waszych domów, dlatego oto co
                        przygotowaliśmy w temacie dostawy:</p>
                    <ul>
                        <li><strong>Dostawa na terenie Polski:</strong> Nasze produkty są dostępne dla każdego zakątka naszego
                            kraju. Niezależnie od tego, gdzie jesteś, postaramy się dostarczyć nasz miód prosto do Twoich drzwi.
                        </li>
                        <li><strong>Opcje dostawy:</strong> Wybierz, co Ci najbardziej odpowiada - dostawę do domu za
                            pośrednictwem sprawdzonej firmy kurierskiej lub odbiór osobisty, jeśli jesteś w pobliżu i chcesz nas
                            odwiedzić. Odbiór osobisty jest możliwy pod adresem: 46-200 Kluczbork, ul. Bora Komorowskiego 21.
                        </li>
                        <li><strong>Koszty i czas realizacji:</strong> Wszystko zależy od tego, jak szybko chcesz się cieszyć
                            naszym produktem i gdzie chcesz go otrzymać. Szczegóły dotyczące kosztów i przewidywanego czasu
                            dostawy zawsze przedstawiamy jasno podczas procesu zakupu.</li>
                        <li><strong>Flexi opcje:</strong> Rozumiemy, że życie jest pełne niespodzianek, dlatego zawsze staramy
                            się być elastyczni. Jeśli potrzebujesz zmiany w warunkach dostawy, daj nam znać!</li>
                    </ul>
                    <p>Wierzymy, że nasz miód sprawi Wam radość od momentu złożenia zamówienia, aż do chwili degustacji. Jeżeli
                        macie jakiekolwiek pytania dotyczące dostawy, jesteśmy tu, aby pomóc. Smacznego!</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    §5 Płatności
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Zależy nam, aby każdy krok w drodze do cieszenia się naszym miodem był dla Ciebie jak najłatwiejszy,
                        włącznie z płatnością. Oto opcje, które dla Ciebie przygotowaliśmy:</p>
                    <ul>
                        <li><strong>Przelew bankowy:</strong> Klasycznie i wygodnie. Wszystkie niezbędne informacje do przelewu
                            otrzymasz od nas mailowo, zaraz po złożeniu zamówienia. Nie zapomnij o tytule przelewu, dzięki
                            któremu szybko zidentyfikujemy Twoją płatność.</li>
                        <li><strong>Płatność BLIK:</strong> Szybko i nowocześnie. Jeśli preferujesz płatności mobilne, BLIK
                            będzie dla Ciebie idealnym rozwiązaniem. Proste, bezpieczne i w zasięgu kilku kliknięć.</li>
                    </ul>
                    <p>Po złożeniu zamówienia i wyborze metody płatności, niezwłocznie przygotujemy dla Ciebie wszystkie
                        szczegóły transakcji, które otrzymasz zarówno na swój adres email, jak i na stronie z potwierdzeniem
                        zamówienia. Oto dane, które Ci przekażemy:</p>
                    <ul>
                        <li>Numer rachunku bankowego sprzedawcy</li>
                        <li>Nazwa i adres sprzedawcy</li>
                        <li>Tytuł przelewu</li>
                        <li>Kwota zamówienia</li>
                    </ul>
                    <p>Pamiętaj, Twoje zamówienie wyruszy w podróż do Ciebie, jak tylko zaksięgujemy Twoją płatność. Jesteśmy
                        tu, by ułatwić Ci ten proces, więc jeśli masz jakiekolwiek pytania lub potrzebujesz dodatkowych
                        informacji, prosimy o kontakt. Z niecierpliwością czekamy, aby dostarczyć Ci odrobinę słodyczy!</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingReklamacjeIZwroty">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseReklamacjeIZwroty" aria-expanded="false" aria-controls="collapseReklamacjeIZwroty">
                    §6 Reklamacje i zwroty
                </button>
            </h2>
            <div id="collapseReklamacjeIZwroty" class="accordion-collapse collapse" aria-labelledby="headingReklamacjeIZwroty"
                data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Każdy Klient ma prawo do złożenia reklamacji w przypadku, gdy zakupiony produkt posiada wady fizyczne lub
                        prawne. Pragniemy, aby nasi Klienci byli w pełni zadowoleni z zakupów, dlatego dołożymy wszelkich
                        starań, aby rozpatrzyć reklamacje szybko i z korzyścią dla Klienta.</p>
                    <ul>
                        <li>Reklamacje prosimy składać drogą e-mailową na adres: <a
                                href="mailto:kontakt@miododstaniula.pl">kontakt&#64;miododstaniula.pl</a>, wskazując przyczynę
                            reklamacji i dołączając zdjęcia uszkodzonego produktu, w terminie 14 dni od daty otrzymania
                            przesyłki.</li>
                        <li>Zwroty są przyjmowane wyłącznie w przypadku, gdy produkt jest nieotwarty, w oryginalnym opakowaniu i
                            nie nosi śladów użytkowania. Ze względu na charakter produktów spożywczych, zwrot jest możliwy tylko
                            w przypadkach, gdy zachowane są warunki umożliwiające ich ponowną sprzedaż zgodnie z obowiązującymi
                            normami higienicznymi.</li>
                        <li>Zwrot należy dokonać w ciągu 14 dni od daty otrzymania produktu. Koszty wysyłki związane ze zwrotem
                            pokrywa Klient, chyba że przyczyną zwrotu jest wada produktu.</li>
                    </ul>
                    <p>Prosimy o przemyślane zakupy. W przypadku jakichkolwiek pytań dotyczących produktów lub wątpliwości,
                        zapraszamy do kontaktu przed dokonaniem zakupu.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPostanowieniaKoncowe">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePostanowieniaKoncowe" aria-expanded="false"
                    aria-controls="collapsePostanowieniaKoncowe">
                    §8 Postanowienia końcowe
                </button>
            </h2>
            <div id="collapsePostanowieniaKoncowe" class="accordion-collapse collapse"
                aria-labelledby="headingPostanowieniaKoncowe" data-bs-parent="#regulaminAccordion">
                <div class="accordion-body">
                    <p>Cieszymy się, że wybraliście nasz sklep! Chcemy, abyście zawsze byli na bieżąco z tym, jak działamy,
                        dlatego poniżej znajdziecie kilka ważnych informacji:</p>
                    <ul>
                        <li>Nasz regulamin zaczął obowiązywać od momentu jego opublikowania na stronie naszego sklepu. Zawsze
                            staramy się, aby był jasny i aktualny, dlatego zachęcamy do jego regularnego przeglądania.</li>
                        <li>Zastrzegamy sobie prawo do dokonywania zmian w regulaminie. O wszelkich aktualizacjach będziemy Was
                            informować, abyście zawsze mieli dostęp do najświeższych informacji.</li>
                        <li>W przypadkach nieuregulowanych w tym regulaminie, będziemy stosować się do przepisów prawa
                            polskiego. Chcemy, aby nasze relacje były jasne i oparte na wzajemnym zaufaniu.</li>
                    </ul>
                    <p>Jeśli macie jakiekolwiek pytania czy wątpliwości, jesteśmy tutaj, aby pomóc. Dziękujemy za zaufanie i
                        życzymy przyjemnych zakupów!</p>
                </div>
            </div>
        </div>

    </div>
</div>