<div *ngIf="product && product.productId">
    <div class="card rounded-3 shadow-lg mb-2">
        <a [routerLink]="['/product', product.productId]" class="bg-image ripple">
            <div id="carouselForProduct{{product.productId}}" class="carousel slide carousel-fade w-100"
                data-bs-ride="carousel">
                <div *ngIf="product.productImages?.length > 1" class="carousel-indicators">
                    <button *ngFor="let image of product.productImages; let i = index" type="button"
                        [attr.data-bs-target]="'#carouselForProduct' + product.productId" [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div *ngIf="!product.productImages?.length" class="productPhotoUnavailable">
                        <img src="/images/unavailable1.jpeg" class="d-block w-100" alt="Zdjęcie produktu niedostępne" />
                    </div>
                    <div *ngFor="let image of product.productImages; let i = index" class="carousel-item"
                        [class.active]="i === 0" data-bs-interval="4000">
                        <img *ngIf="product.productImages?.[0]"
                            [src]="'https://localhost:5047/' + product.productImages?.[0]?.imagePath"
                            class="d-block w-100" alt="{{ product.name }}" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselForProduct' + product?.productId"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselForProduct' + product?.productId"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </a>
        <div class="card-body">
            <div>
                <h3 class="card-title mb-3">{{ product?.name }}</h3>
                <p><b>{{ product?.category?.name }}</b></p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Waga: <b>{{ product?.weight }} g</b></p>
                </div>
                <div class="col-lg-6">
                    <p>Cena: <b>{{ product?.price }} zł</b></p>
                </div>
        
                <ng-container *ngIf="product?.amountAvailable === 0">
                    <div class="row outOfOrder">
                        <div class="col-9">
                            <h4>Sprzedany</h4>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/outOfOrder.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>
        
                <ng-container *ngIf="product?.amountAvailable > 0 && product?.amountAvailable < 10">
                    <div class="row smallAmount">
                        <div class="col-9">
                            <h4>Ograniczona ilość</h4>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/smallAmount.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>
        
                <ng-container *ngIf="product?.amountAvailable >= 10">
                    <div class="row available">
                        <div class="col-9">
                            <h4>Dostępny</h4>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/available.png" style="max-width: 40px">
                        </div>
                    </div>
                </ng-container>
            </div>
            <button mat-raised-button color="primary" (click)="addToCart()" class="add-to-cart-btn m-1 w-100">Dodaj do koszyka</button>
        </div>
    </div>
</div>