
h1{
    font-size: 2.5rem;
}

.list-group-item.active {
    background-color: black;
    border-color: black;
}

.list-group-item-action {
    cursor: pointer;
}

.product-list{
    max-width: 1400px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#categories{
    margin-left: 6rem;
    padding-left: 6rem;
}

@media (max-width: 767px) {
    #categories{
        margin-left: -4rem;
    }
}