<div class="container">
    <div class="row pt-4">
        <div class="col-md-9">
            <h1 id="categories" class="text-center">
                {{ getTitle() }}
            </h1>
        </div>
        <div class="col-md-3">
            <form asp-action="Index" method="get">
                <select name="sortOrder" onchange="this.form.submit()" class="form-select">
                    <option value="">Sortuj po ...</option>
                    <option value="category">Kategoria</option>
                    <option value="name_asc">Nazwa produktu</option>
                    <option value="price_asc">Cena rosnąco</option>
                    <option value="price_desc">Cena malejąco</option>
                    <option value="date_asc">Data dodania</option>
                    <option value="available-desc">Dostępność</option>
                    <option value="popularity">Popularność</option>
                </select>
            </form>
        </div>
    </div>
    <hr />
    <div class="text-center py-5">
        <div class="row">
            <div class="col-md-3 text-start border-end mb-4">
                <h3>Kategorie:</h3>
                <br />
                <div class="list-group">
                    <a (click)="selectedCategory = null" [ngClass]="{'active': selectedCategory === null}"
                        class="list-group-item list-group-item-action">
                        <i class="bi bi-list-ul"></i> Wszystkie produkty
                    </a>
                    <a (click)="selectedCategory = 1" [ngClass]="{'active': selectedCategory === 1}"
                        class="list-group-item list-group-item-action">
                        <i class="bi bi-dash"></i> Miody naturalne
                    </a>
                    <a (click)="selectedCategory = 2" [ngClass]="{'active': selectedCategory === 2}"
                        class="list-group-item list-group-item-action">
                        <i class="bi bi-dash"></i> Miody smakowe
                    </a>
                    <a (click)="selectedCategory = 3" [ngClass]="{'active': selectedCategory === 3}"
                        class="list-group-item list-group-item-action">
                        <i class="bi bi-dash"></i> Zestawy miodów
                    </a>
                    <a (click)="selectedCategory = 4" [ngClass]="{'active': selectedCategory === 4}"
                        class="list-group-item list-group-item-action">
                        <i class="bi bi-dash"></i> Produkty pszczele
                    </a>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row" id="products-container">
                    <app-product-card class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let product of filteredProducts"
                        [product]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>