<div class="container">
    <div class="order-confirmation">
        <div class="row">
            <div class="col-md-8">
                <mat-card class="mb-3 order-confirm">
                    <mat-card-header>
                        <mat-card-title>Dziękujemy za założenie zamówienia!</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Twoje zamówienie zostało złożone pomyślnie i wkrótce otrzymasz potwierdzenie na podany adres
                            e-mail.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-3 logo">
                    <mat-card-content>
                        <img src="../../../assets/images/logo.jpeg" alt="Logo" class="img-fluid">
                        <div class="text-center">
                            <p>W razie problemów skontaktuj się z nami:</p>
                            <p class="fw-bold">+48 570 436 579</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>