.loginForm{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

@media (max-width: 576px) {
    .loginForm {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
