.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1,
.mat-typography h3, .mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography 
.mat-headline-5, .mat-typography h1, .mat-body p, .mat-body-2 p, .mat-typography .mat-body p, 
.mat-typography .mat-body-2 p, .mat-typography p, b, strong, .mat-h4, .mat-body-1,
.mat-typography .mat-h4, .mat-typography .mat-body-1, .mat-typography h4, .mat-h5,
.mat-typography .mat-h5, .mat-typography h5, .mat-h2, .mat-headline-6, .mat-typography .mat-h2,
.mat-typography .mat-headline-6, .mat-typography h2, .mat-h6, .mat-typography .mat-h6, .mat-typography h6{
  font-family: 'Playfair Display', serif;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 60px;
    margin-bottom: 10px;
}

.main{
  position: relative;
  margin-bottom: 400px;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 767px) {
  .main {
    margin-bottom: 600px;
  }
}

@media (max-width: 575px) {
  .main {
    margin-bottom: 800px;
  }
}