<div class="container">
    <div class="loginForm text-center shadow bg-white rounded-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2>Załóż konto w kilku krokach!</h2>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" #autoFocusInput>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Twój adres email jest
                            wymagany do
                            prawidłowej rejestracji</mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Nieprawidłowy format adresu
                            email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Imię</mat-label>
                        <input matInput type="name" formControlName="name">
                        <mat-error *ngIf="registerForm.controls['name'].hasError('required')">Imię jest
                            wymagane</mat-error>
                        <mat-error *ngIf="registerForm.controls['name'].hasError('minlength')">Imię jest za
                            krótkie</mat-error>
                        <mat-error *ngIf="registerForm.controls['name'].hasError('maxlength')">Imię może zawierać
                            maksymalnie 50
                            znaków</mat-error>
                        <mat-error *ngIf="registerForm.controls['name'].hasError('lettersOnly')">Imię może zawierać
                            tylko
                            litery</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Nazwisko</mat-label>
                        <input matInput type="surname" formControlName="surname">
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('required')">Nazwisko jest
                            wymagane</mat-error>
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('minlength')">Nazwisko jest za
                            krótkie</mat-error>
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('maxlength')">Nazwisko może zawierać
                            maksymalnie
                            50 znaków</mat-error>
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('lettersOnly')">Nazwisko może
                            zawierać tylko
                            litery</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Numer telefonu</mat-label>
                        <input matInput type="tel" formControlName="phoneNumber">
                        <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">Numer telefonu jest
                            wymagany</mat-error>
                        <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('pattern')">Nieprawidłowy format
                            numeru
                            telefonu</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Hasło</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Hasło jest
                            wymagane</mat-error>
                        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">Hasło musi zawierać
                            co
                            najmniej 6
                            znaków</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Miasto</mat-label>
                        <input matInput type="city" formControlName="city">
                        <mat-error *ngIf="registerForm.controls['city'].hasError('required')">Miasto jest
                            wymagane</mat-error>
                        <mat-error *ngIf="registerForm.controls['city'].hasError('minlength')">Nazwa miasta jest za
                            krótka</mat-error>
                        <mat-error *ngIf="registerForm.controls['city'].hasError('maxlength')">Nazwa miasta może
                            zawierać
                            maksymalnie 50
                            znaków</mat-error>
                        <mat-error *ngIf="registerForm.controls['city'].hasError('lettersOnly')">Nazwa miasta może
                            zawierać tylko
                            litery</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Kod pocztowy</mat-label>
                        <input matInput type="text" formControlName="postalCode">
                        <mat-error *ngIf="registerForm.controls['postalCode'].hasError('required')">Kod pocztowy jest
                            wymagany</mat-error>
                        <mat-error *ngIf="registerForm.controls['postalCode'].hasError('pattern')">Nieprawidłowy format
                            kodu
                            pocztowego</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Ulica</mat-label>
                        <input matInput type="street" formControlName="street">
                        <mat-error *ngIf="registerForm.controls['street'].hasError('required')">Ulica jest
                            wymagana</mat-error>
                        <mat-error *ngIf="registerForm.controls['street'].hasError('maxlength')">Ulica może zawierać
                            maksymalnie 50
                            znaków</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Adres (nr domu/mieszkania)</mat-label>
                        <input matInput type="text" formControlName="address">
                        <mat-error *ngIf="registerForm.controls['address'].hasError('required')">Numer domu/mieszkania
                            jest
                            wymagany</mat-error>
                        <mat-error *ngIf="registerForm.controls['address'].hasError('maxLength')">Zbyt długi
                            adres</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Potwierdź hasło</mat-label>
                        <input matInput type="password" formControlName="confirmPassword">
                        <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                            Potwierdzenie hasła jest wymagane
                        </mat-error>
                        <mat-error
                            *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.value">
                            Hasła nie są identyczne
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mt-2">
                <div class="termsAccepted">
                    <mat-checkbox formControlName="termsAccepted">
                        Rejestrując się, akceptuję <a routerLink="/termsAndConditions">regulamin</a> sklepu oraz wyrażam zgodę
                        na przetwarzanie
                        moich danych osobowych zgodnie z <a routerLink="/privacyPolicy">polityką prywatności</a> w celu
                        realizacji usług
                        oferowanych przez sklep.
                    </mat-checkbox>
                    <mat-error *ngIf="registerForm.controls['termsAccepted'].hasError('required')">* Akceptacja
                        regulaminu jest
                        wymagana</mat-error>
                </div>

                <button mat-raised-button color="primary" class="btn m-2" type="submit" [disabled]="loading"><i
                        class="bi bi-box-arrow-in-left"></i>
                    Zarejestruj się
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                </button>

                <button mat-raised-button class="btn m-2" type="button" routerLink="/login"><i
                        class="bi bi-box-arrow-in-left"></i> Mam już konto</button>
            </div>
        </form>
    </div>
</div>