.loginForm {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

.btn{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .btn {
        width: 100%;
    }
}
