<div class="text-white text-center bg-black">
    <div class="row pt-4">
        <div class="col-md-3 col-sm-6">
            <h5>Adres:</h5>
            <ul class="list-unstyled">
                <li>46-200 Kluczbork</li>
                <li>Bora Komorowskiego 21</li>
                <li>województwo opolskie</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <ul class="list-unstyled">
                <li><a mat-raised-button routerLink="/privacyPolicy" class="w-75 mb-3" >Polityka prywatności</a></li>
                <li><a mat-raised-button routerLink="/termsAndConditions" class="w-75">Regulamin naszego sklepu</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Kontakt</h5>
            <ul class="list-unstyled">
                <li>Piotr Staniul</li>
                <li>Telefon: +48 570 436 579</li>
                <li>Email: kontakt&#64;miododstaniula.pl</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6">
            <h5>Media społecznościowe</h5>
            <a href="https://www.facebook.com/profile.php?id=100076473249495" class="text-white me-3 btn btn-lg"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" class="text-white btn btn-lg"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <div class="text-center mt-4" style="font-size: 9px;">
        <p>Copyright &copy; 2024 Paweł Staniul. All rights reserved.</p>
    </div>
</div>